/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html {
    font-family: "Whitney", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 2px solid black;
    height: 80px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}